* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  min-width: 287px;
}

.banner {
  background-color: hsla(0, 0%, 45%, 0.8);
  display: flex;
  flex-direction: column;
}

.result {
  text-align: center;
  margin-top: 20px;
}

.result > p {
  font-size: 2rem;
}

.container {
  padding-block: 20px;
  padding-inline: 20px;
  position: relative;
  display: flex;
  color: white;
  font-weight: 700;
}

#computer-container {
  background-color: hsla(0, 0%, 45%, 0.8);
  justify-content: flex-end;
}

#user-container {
  background-color: blue;
}

button {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: none;
  background-color: white;
  animation: rollIn 3s ease-in-out;
}

@keyframes rollIn {
  0% {
    opacity: 0;
    transform: rotateX(90deg);
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    padding-inline: 10%;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    padding-inline: 20%;
  }
}
