* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  background-color: hsla(0, 0%, 45%, 1);
}
.master {
  background-color: hsla(0, 0%, 45%, 1);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  min-width: 240px;
  padding: 20px;
  color: white;
}

section {
  text-align: center;
}

h1 {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

button {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  border: none;
}

.computer > button {
  background-color: hsla(0, 0%, 80%, 0.8);
}

.user.container {
  position: relative;
}

.userBtns {
  cursor: pointer;
}

.userBtns:hover {
  background-color: hsla(221, 87%, 50%, 1);
}

.userBtns:active {
  background-color: hsla(221, 87%, 50%, 0.2);
}

#scissor,
#rock,
#paper {
  background-image: url(../images/signs.png);
  background-size: 200%;
  background-repeat: no-repeat;
  transition: background-position 2s, background-color 0.5s;
}

#scissor {
  background-position: -5% -25%;
}

#rock {
  background-position: 115% 10%;
}
#paper {
  background-position: 25% 120%;
}

.center {
  position: absolute;
  transition: position 2s ease-in-out;
}

.fadeOut {
  animation: fadeOut 1s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
